## Read and Rename

In [16]:
import pandas as pd
import sys
sys.path.append('../')
from utils.uuid_util import generate_uuid

education = pd.read_csv('../data/Cleaned/education/education.csv')
employment = pd.read_csv('../data/Cleaned/employment/european_employment_data.csv')
socioecono = pd.read_csv('../data/Cleaned/socio/socio.csv')

education.rename(columns={'Country Name': 'country_name',
                          'Country Code': 'country_code',
                          'Indicator Name': 'indicator_name',
                          'Value': 'value',
                          }, inplace=True)
employment.rename(columns={'Country Name': 'country_name',
                           'Country Code': 'country_code',
                            'Indicator Name': 'indicator_name',
                            '2023': 'unemployment_rate',
                            }, inplace=True)
employment.drop(columns=['Unnamed: 0'], inplace=True)
sociecono = socioecono.rename(columns={'country': 'country_name',
                                       'wbid': 'country_code',
                                       'class': 'socioeconomic_class',
                                        }, inplace=True)

## Indicator Selection

In [17]:
# Government expenditure on education as % of GDP (%),SE.XPD.TOTL.GD.ZS
# Government expenditure on secondary education as % of GDP (%),UIS.XGDP.23.FSGOV
# Government expenditure on tertiary education as % of GDP (%),UIS.XGDP.56.FSGOV
# Government expenditure per secondary student as % of GDP per capita (%),SE.XPD.SECO.PC.ZS
# Government expenditure per tertiary student as % of GDP per capita (%),SE.XPD.TERT.PC.ZS

# "Graduates from tertiary education, female (number)",SE.TER.GRAD.FE
# "Gross enrolment ratio, tertiary, female (%)",SE.TER.ENRR.FE
# Labor force with advanced education, female (% of female labor force)",SL.TLF.ADVN.FE.ZS
# UIS: Percentage of population age 25+ with at least a completed short-cycle tertiary degree (ISCED 5 or higher). Female,UIS.EA.5T8.AG25T99.F


# Labor force with basic education (% of total),SL.TLF.BASC.ZS
# Labor force with intermediate education (% of total),SL.TLF.INTM.ZS
# Labor force with advanced education (% of total),SL.TLF.ADVN.ZS

# PISA: Mean performance on the mathematics scale,LO.PISA.MAT
# PISA: Mean performance on the reading scale,LO.PISA.REA
# PISA: Mean performance on the science scale,LO.PISA.SCI

# UIS: Percentage of population age 25+ with at least a completed short-cycle tertiary degree (ISCED 5 or higher). Total,UIS.EA.5T8.AG25T99

categories_dict = {
    "Government Expenditure": [
    "SE.XPD.TOTL.GD.ZS",
    "UIS.XGDP.23.FSGOV",
    "UIS.XGDP.56.FSGOV",
    "SE.XPD.SECO.PC.ZS",
    "SE.XPD.TERT.PC.ZS",
    ],
    "Gender Equality": [
    "SE.TER.CMPL.ZS",
    "SE.TER.GRAD.FE",
    "SE.TER.ENRR.FE",
    "UIS.EA.5T8.AG25T99.F",
    ],     
    "Labor Force Education": [
        "SL.TLF.BASC.ZS",
        "SL.TLF.INTM.ZS",
        "SL.TLF.ADVN.ZS",
    ],
    "PISA Score": [
        "LO.PISA.REA",
        "LO.PISA.MAT",
        "LO.PISA.SCI",
    ],    
}



categories_reverse = {}
for key in categories_dict.keys():
    for item in categories_dict[key]:
        categories_reverse[item] = key
        
categories_reverse

{'SE.XPD.TOTL.GD.ZS': 'Government Expenditure',
 'UIS.XGDP.23.FSGOV': 'Government Expenditure',
 'UIS.XGDP.56.FSGOV': 'Government Expenditure',
 'SE.XPD.SECO.PC.ZS': 'Government Expenditure',
 'SE.XPD.TERT.PC.ZS': 'Government Expenditure',
 'SE.TER.CMPL.ZS': 'Gender Equality',
 'SE.TER.GRAD.FE': 'Gender Equality',
 'SE.TER.ENRR.FE': 'Gender Equality',
 'UIS.EA.5T8.AG25T99.F': 'Gender Equality',
 'SL.TLF.BASC.ZS': 'Labor Force Education',
 'SL.TLF.INTM.ZS': 'Labor Force Education',
 'SL.TLF.ADVN.ZS': 'Labor Force Education',
 'LO.PISA.REA': 'PISA Score',
 'LO.PISA.MAT': 'PISA Score',
 'LO.PISA.SCI': 'PISA Score'}

In [18]:
selected_indicators_code = list(categories_reverse.keys())
selected_indicators_code

['SE.XPD.TOTL.GD.ZS',
 'UIS.XGDP.23.FSGOV',
 'UIS.XGDP.56.FSGOV',
 'SE.XPD.SECO.PC.ZS',
 'SE.XPD.TERT.PC.ZS',
 'SE.TER.CMPL.ZS',
 'SE.TER.GRAD.FE',
 'SE.TER.ENRR.FE',
 'UIS.EA.5T8.AG25T99.F',
 'SL.TLF.BASC.ZS',
 'SL.TLF.INTM.ZS',
 'SL.TLF.ADVN.ZS',
 'LO.PISA.REA',
 'LO.PISA.MAT',
 'LO.PISA.SCI']

## Export countries

In [19]:
employment.head()

,country_name,country_code,indicator_name,Indicator Code,unemployment_rate
0,Austria,AUT,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,5.268
1,Belgium,BEL,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,5.541
2,Bulgaria,BGR,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,4.185
3,Switzerland,CHE,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,3.838
4,Germany,DEU,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,3.006

In [20]:
# export country nodes
country = employment[['country_name', 'country_code']].copy(deep=True)
# generate unique 3-digit country id
import uuid
country['country_id'] = country['country_code'].apply(lambda x: uuid.uuid3(uuid.NAMESPACE_DNS, x))
country.to_csv(f'../data/neo4j/country.csv', index=False)

## Export education nodes

In [21]:
# add indicator code
edu_raw = pd.read_csv('../data/European/EducationStats/european_education_data.csv')

edu_raw_index = edu_raw[['Indicator Name', 'Indicator Code']].drop_duplicates()
edu_raw_index.rename(columns={'Indicator Name': 'indicator_name',
                                'Indicator Code': 'indicator_code'}, inplace=True)

# add education indicator code to our file

education = pd.merge(education, edu_raw_index, on='indicator_name', how='left')
# education.to_csv(f'../data/neo4j/education.csv', index=False)
indeces = education[['indicator_name', 'indicator_code']].drop_duplicates()
indeces.to_csv(f'../data/neo4j/index.csv', index=False)

In [22]:
# add UUID to every row
education['educational_index_id'] = education.apply(lambda row: generate_uuid(), axis=1)

In [23]:
# export education nodes
educational_index_fields = ['indicator_name', 'value', 'indicator_code', 'educational_index_id']
educational_index = education[educational_index_fields]

educational_index_selected = educational_index[educational_index['indicator_code'].isin(selected_indicators_code)]
educational_index_selected.to_csv(f'../data/neo4j/educational_index.csv', index=False)

## Categories

In [24]:
# "Gross graduation ratio from first degree programmes (ISCED 6 and 7) in tertiary education, both sexes (%)",SE.TER.CMPL.ZS
# "Gross graduation ratio from first degree programmes (ISCED 6 and 7) in tertiary education, female (%)",SE.TER.CMPL.FE.ZS
# "Gross graduation ratio from first degree programmes (ISCED 6 and 7) in tertiary education, gender parity index (GPI)",UIS.GGR.5.A.GPI
# "Gross graduation ratio from first degree programmes (ISCED 6 and 7) in tertiary education, male (%)",SE.TER.CMPL.MA.ZS

categories = pd.DataFrame({
    'indicator_code': list(categories_reverse.keys()),
    'category': list(categories_reverse.values()),
})\
    .merge(indeces, on='indicator_code', how='left')[['category', 'indicator_name', 'indicator_code']]
    
categories.to_csv(f'../data/neo4j/categories.csv', index=False)

## Education Index - Country relationship

In [25]:
education_country = education[['country_name','indicator_code', 'country_code', 'educational_index_id']].copy(deep=True)
education_country['country_id'] = pd.merge(education_country, country, on='country_name', how='left')['country_id']
education_country.to_csv(f'../data/neo4j/education_country.csv', index=False)

## Social Economic Class

In [26]:
# add UUID to every "row"
socioecono['socioeconomic_id'] = socioecono.apply(lambda row: generate_uuid(), axis=1)
socioecono.to_csv(f'../data/neo4j/socioecono.csv', index=False)
socioecono.head()

,unid,country_code,country_name,year,ses,socioeconomic_class,gdppc,yrseduc,region5,regionUN,socioeconomic_id
0,100,BGR,Bulgaria,2000,64.527023,Middle(semi-per),8958.050781,9.3762,SE Europe,East Europe,6c311eff-0a84-4162-8913-1a9d990e85ff
1,100,BGR,Bulgaria,2010,63.851353,Middle(semi-per),15283.179690,9.8510,SE Europe,East Europe,ae0a1799-f918-4301-b1ab-c5eda3690c41
2,208,DNK,Denmark,2000,86.824326,High(core),42337.714840,9.7124,NW Europe,North Europe,77699f2f-be9a-42ef-9183-59bdd71e0af3
3,208,DNK,Denmark,2010,82.432434,High(core),43998.437500,10.0566,NW Europe,North Europe,0152e026-b4ac-4ce8-b6c7-e58d862d9d32
4,246,FIN,Finland,2000,70.608109,High(core),34887.179690,8.1934,NW Europe,North Europe,a0ef0d74-4449-4e27-9d33-7ef831d2ccda

# Employment

In [27]:
## Employment Rate
# add uuid to every row
employment['employment_id'] = employment.apply(lambda row: generate_uuid(), axis=1)
employment.to_csv(f'../data/neo4j/employment.csv', index=False)
employment.head()

,country_name,country_code,indicator_name,Indicator Code,unemployment_rate,employment_id
0,Austria,AUT,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,5.268,564b6d27-0d44-438b-b510-e1d35afc4ab3
1,Belgium,BEL,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,5.541,a77ab927-7731-4ff8-a4fa-e6fd75428331
2,Bulgaria,BGR,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,4.185,5c550940-9610-48ef-a7a6-d65bd620faa3
3,Switzerland,CHE,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,3.838,31136e1c-04b6-45d9-bdb1-3a3533f72601
4,Germany,DEU,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,3.006,aeebbfca-8ff1-4d4c-ab73-021c24a1c2f4

# Correlation Computation

In [44]:
correlation_df = pd.merge(education, employment, on='country_code', how='inner')
correlation_df = correlation_df[correlation_df['indicator_code'].isin(selected_indicators_code)]
correlation_df

,country_name_x,country_code,indicator_name_x,value,indicator_code,educational_index_id,country_name_y,indicator_name_y,Indicator Code,unemployment_rate,employment_id
438,Austria,AUT,Government expenditure on education as % of GD...,5.499550,SE.XPD.TOTL.GD.ZS,8f4f0a27-1e4d-4b17-b18c-de9ca28c2dfb,Austria,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,5.268,564b6d27-0d44-438b-b510-e1d35afc4ab3
439,Austria,AUT,Government expenditure on secondary education ...,2.293050,UIS.XGDP.23.FSGOV,3c2848e8-62e0-4cfd-80d9-0f629cddf6fd,Austria,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,5.268,564b6d27-0d44-438b-b510-e1d35afc4ab3
440,Austria,AUT,Government expenditure on tertiary education a...,1.799560,UIS.XGDP.56.FSGOV,fd1c271f-3177-4bb2-b0de-4cae6b172a45,Austria,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,5.268,564b6d27-0d44-438b-b510-e1d35afc4ab3
445,Austria,AUT,Government expenditure per secondary student a...,27.153971,SE.XPD.SECO.PC.ZS,f3a8e6d5-7a27-46ae-9539-d15c1bfb13cd,Austria,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,5.268,564b6d27-0d44-438b-b510-e1d35afc4ab3
446,Austria,AUT,Government expenditure per tertiary student as...,36.216961,SE.XPD.TERT.PC.ZS,b0a35ec8-7a2c-47e9-af6e-2da164b73bd6,Austria,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,5.268,564b6d27-0d44-438b-b510-e1d35afc4ab3
...,...,...,...,...,...,...,...,...,...,...,...
23288,United Kingdom,GBR,Labor force with intermediate education (% of ...,74.199997,SL.TLF.INTM.ZS,a066a6ec-9110-48f5-9ced-2c0321e111d0,United Kingdom,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,4.355,cc505ddd-7890-4220-8994-d4f0c1c08332
23513,United Kingdom,GBR,PISA: Mean performance on the mathematics scale,492.478500,LO.PISA.MAT,35e51d89-7e3e-489a-8966-7e0708a7e2d6,United Kingdom,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,4.355,cc505ddd-7890-4220-8994-d4f0c1c08332
23516,United Kingdom,GBR,PISA: Mean performance on the reading scale,497.971900,LO.PISA.REA,24a4adc7-0ca5-46b3-b8ae-bce872401268,United Kingdom,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,4.355,cc505ddd-7890-4220-8994-d4f0c1c08332
23519,United Kingdom,GBR,PISA: Mean performance on the science scale,509.221500,LO.PISA.SCI,3c539e1c-1677-4979-b1e5-1574bb4f16d8,United Kingdom,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,4.355,cc505ddd-7890-4220-8994-d4f0c1c08332
23795,United Kingdom,GBR,UIS: Percentage of population age 25+ with at ...,40.139481,UIS.EA.5T8.AG25T99.F,48c54c49-6f70-4068-96f7-72d08a94193f,United Kingdom,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,4.355,cc505ddd-7890-4220-8994-d4f0c1c08332

# Import Correlation relations to Local neo4j

In [45]:
from utils.analysis import get_correlation

corr_list = []

for indicator in selected_indicators_code:
    corr_list.append(get_correlation(correlation_df, indicator))
    
corr_df = pd.DataFrame({
    "indicator_code": selected_indicators_code,
    "correlation_coef": corr_list,
})

# add indictor name
# add category
corr_df = corr_df.merge(categories, on='indicator_code', how='left')
corr_df['correlation_coef'] = corr_df['correlation_coef'].apply(lambda x: round(x, 2))
corr_df.to_csv(f'../data/neo4j/correlation.csv', index=False)

corr_df[['category', 'indicator_name', 'correlation_coef' , "indicator_code"]]

,category,indicator_name,correlation_coef,indicator_code
0,Government Expenditure,Government expenditure on education as % of GD...,-0.24,SE.XPD.TOTL.GD.ZS
1,Government Expenditure,Government expenditure on secondary education ...,-0.40,UIS.XGDP.23.FSGOV
2,Government Expenditure,Government expenditure on tertiary education a...,-0.12,UIS.XGDP.56.FSGOV
3,Government Expenditure,Government expenditure per secondary student a...,-0.14,SE.XPD.SECO.PC.ZS
4,Government Expenditure,Government expenditure per tertiary student as...,-0.35,SE.XPD.TERT.PC.ZS
5,Gender Equality,Gross graduation ratio from first degree progr...,-0.16,SE.TER.CMPL.ZS
6,Gender Equality,"Graduates from tertiary education, female (num...",0.20,SE.TER.GRAD.FE
7,Gender Equality,"Gross enrolment ratio, tertiary, female (%)",0.49,SE.TER.ENRR.FE
8,Gender Equality,UIS: Percentage of population age 25+ with at ...,-0.16,UIS.EA.5T8.AG25T99.F
9,Labor Force Education,Labor force with basic education (% of total),0.02,SL.TLF.BASC.ZS
10,Labor Force Education,Labor force with intermediate education (% of ...,-0.03,SL.TLF.INTM.ZS
11,Labor Force Education,Labor force with advanced education (% of total),0.02,SL.TLF.ADVN.ZS
12,PISA Score,PISA: Mean performance on the reading scale,-0.09,LO.PISA.REA
13,PISA Score,PISA: Mean performance on the mathematics scale,-0.36,LO.PISA.MAT
14,PISA Score,PISA: Mean performance on the science scale,-0.26,LO.PISA.SCI

In [32]:
# round correlation to 2 decimal places
corr_df['correlation_coef'] = corr_df['correlation_coef'].apply(lambda x: round(x, 2))
corr_df.to_csv(f'../data/neo4j/correlation.csv', index=False)

In [34]:
for indicator_code, correlation_df in zip(corr_df.indicator_code, corr_df.correlation_coef):
    print(f"Indicator Code: {indicator_code}, Correlation Coefficient: {correlation_df}")

Indicator Code: SE.XPD.TOTL.GD.ZS, Correlation Coefficient: -0.24
Indicator Code: UIS.XGDP.23.FSGOV, Correlation Coefficient: -0.4
Indicator Code: UIS.XGDP.56.FSGOV, Correlation Coefficient: -0.12
Indicator Code: SE.XPD.SECO.PC.ZS, Correlation Coefficient: -0.14
Indicator Code: SE.XPD.TERT.PC.ZS, Correlation Coefficient: -0.35
Indicator Code: SE.TER.CMPL.ZS, Correlation Coefficient: -0.16
Indicator Code: SE.TER.GRAD.FE, Correlation Coefficient: 0.2
Indicator Code: SE.TER.ENRR.FE, Correlation Coefficient: 0.49
Indicator Code: UIS.EA.5T8.AG25T99.F, Correlation Coefficient: -0.16
Indicator Code: SL.TLF.BASC.ZS, Correlation Coefficient: 0.02
Indicator Code: SL.TLF.INTM.ZS, Correlation Coefficient: -0.03
Indicator Code: SL.TLF.ADVN.ZS, Correlation Coefficient: 0.02
Indicator Code: LO.PISA.REA, Correlation Coefficient: -0.09
Indicator Code: LO.PISA.MAT, Correlation Coefficient: -0.36
Indicator Code: LO.PISA.SCI, Correlation Coefficient: -0.26

In [33]:
from neo4j import GraphDatabase

# URI examples: "neo4j://localhost", "neo4j+s://xxx.databases.neo4j.io"
URI = "neo4j://localhost"
USER = "neo4j"
PASSWORD = "20000000"
AUTH = (USER, PASSWORD)

with GraphDatabase.driver(URI, auth=AUTH) as driver:
    driver.verify_connectivity()

driver = GraphDatabase.driver(URI, auth=AUTH)

In [35]:
indicator_codes = ["code1", "code2", "code3"]  # Replace with your list of indicator codes

with driver.session() as session:
    for indicator_code, correlation_df in zip(corr_df.indicator_code, corr_df.correlation_coef):
        query = """
            MATCH (n:`Educational Indicator` {indicator_code: $indicator_code})
            WITH n
            MATCH (n2:`Employment Outcome`)
            MERGE (n)-[r3:correlates_with {correlation_coef: $correlation_coef}]->(n2)
        """
        result = session.run(query, indicator_code=indicator_code, correlation_coef=correlation_df)

        # Process the result if needed
        for record in result:
            print(record)