# Identification

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import networkx as nx

import sys
sys.path.append('..')

In [25]:
education = pd.read_csv('../data/Cleaned/education/education.csv')
employment = pd.read_csv('../data/Cleaned/employment/european_employment_data.csv')
socioecono = pd.read_csv('../data/Cleaned/socio/socio.csv')

In [15]:
print(education.shape[0], employment.shape[0], socioecono.shape[0])

24120 18 36

In [28]:
socioecono['class'].unique().__len__()

2

In [29]:
socioecono['class'].unique()

array(['Middle(semi-per)', 'High(core)'], dtype=object)

In [32]:
education['Indicator Name'].unique().__len__()

1340

In [33]:
education.head()

,Country Name,Country Code,Indicator Name,Value
0,Austria,AUT,All staff compensation as % of total expenditu...,68.866920
1,Austria,AUT,All staff compensation as % of total expenditu...,73.122841
2,Austria,AUT,"Barro-Lee: Average years of primary schooling,...",3.820000
3,Austria,AUT,"Barro-Lee: Average years of primary schooling,...",3.850000
4,Austria,AUT,"Barro-Lee: Average years of primary schooling,...",3.910000

In [37]:
g = education.groupby(["Indicator Name", "Country Name"]).count().reset_index()
    # .to_csv('../data/Cleaned/groupby/education.csv')
    
g.groupby(["Indicator Name"]).count().reset_index().to_csv('../data/Cleaned/groupby/indicator-num-countries.csv')