# Identification

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import networkx as nx

import sys
sys.path.append('..')

In [2]:
education = pd.read_csv('../data/Cleaned/education/education.csv')
employment = pd.read_csv('../data/Cleaned/employment/european_employment_data.csv')
socioecono = pd.read_csv('../data/Cleaned/socio/socio.csv')

In [3]:
print(education.shape[0], employment.shape[0], socioecono.shape[0])

24120 18 36

In [5]:
print(f"Number of unique indicators: {education['Indicator Name'].unique().__len__()}")

Number of unique indicators: 1340

In [8]:
education.rename(columns={'Country Name': 'country_name',
                          'Country Code': 'country_code',
                          'Indicator Name': 'indicator_name',
                          'Value': 'value',
                          }, inplace=True)

In [9]:
employment.head()

,Unnamed: 0,Country Name,Country Code,Indicator Name,Indicator Code,2023
0,14,Austria,AUT,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,5.268
1,17,Belgium,BEL,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,5.541
2,21,Bulgaria,BGR,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,4.185
3,37,Switzerland,CHE,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,3.838
4,55,Germany,DEU,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,3.006

In [10]:
employment.rename(columns={'Country Name': 'country_name',
                           'Country Code': 'country_code',
                            'Indicator Name': 'indicator_name',
                            '2023': 'unemployment_rate',
                            }, inplace=True)

In [11]:
employment.drop(columns=['Unnamed: 0'], inplace=True)

In [14]:
socioecono.head()
sociecono = socioecono.rename(columns={'country': 'country_name',
                                       'wbid': 'country_code',
                                       'class': 'socioeconomic_class',
                                        }, inplace=True)

In [37]:
g = education.groupby(["Indicator Name", "Country Name"]).count().reset_index()
    # .to_csv('../data/Cleaned/groupby/education.csv')
    
g.groupby(["Indicator Name"]).count().reset_index().to_csv('../data/Cleaned/groupby/indicator-num-countries.csv')

# Export to Postgres

In [15]:
from sqlalchemy import create_engine

# db connection

USERNAME = 'keniwo'
PW = '2000'
HOST = 'localhost'
PORT = '5432'
DBNAME = 'keproject'

engine = create_engine(f'postgresql://{USERNAME}:{PW}@{HOST}:{PORT}/{DBNAME}')
connection = engine.connect()

In [18]:
education.to_sql('education', connection, if_exists='replace', index=False)
employment.to_sql('employment', connection, if_exists='replace', index=False)
socioecono.to_sql('socioecono', connection, if_exists='replace', index=False)

36

# Indicators

In [20]:
expenditure = [
    "Expenditure on education as % of total government expenditure (%)"
]

education[education["indicator_name"].isin(expenditure)]

,country_name,country_code,indicator_name,value
418,Austria,AUT,Expenditure on education as % of total governm...,10.483210
1758,Belgium,BEL,Expenditure on education as % of total governm...,11.972390
3098,Bulgaria,BGR,Expenditure on education as % of total governm...,11.439800
4438,Denmark,DNK,Expenditure on education as % of total governm...,15.229870
5778,Finland,FIN,Expenditure on education as % of total governm...,12.323450
7118,France,FRA,Expenditure on education as % of total governm...,9.661880
8458,Germany,DEU,Expenditure on education as % of total governm...,11.138740
9798,Greece,GRC,Expenditure on education as % of total governm...,8.700210
11138,Hungary,HUN,Expenditure on education as % of total governm...,9.413050
12478,Ireland,IRL,Expenditure on education as % of total governm...,13.453060
13818,Italy,ITA,Expenditure on education as % of total governm...,8.006160
15158,Netherlands,NLD,Expenditure on education as % of total governm...,11.973170
16498,Norway,NOR,Expenditure on education as % of total governm...,17.026119
17838,Portugal,PRT,Expenditure on education as % of total governm...,9.888010
19178,Spain,ESP,Expenditure on education as % of total governm...,9.592610
20518,Sweden,SWE,Expenditure on education as % of total governm...,14.939090
21858,Switzerland,CHE,Expenditure on education as % of total governm...,15.526320
23198,United Kingdom,GBR,Expenditure on education as % of total governm...,13.880240